<div class="row">
   <div class="col-md-8 col-md-offset-2">
        <h3>Estado de Encomienda</h3>
        <div class="col-md-8 col-md-offset-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar..." ng-model="id">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="vm.buscar(id)">
                <span class="glyphicon glyphicon-search" ></span>
              </button>
            </span>
          </div>
        </div>
      <br>
      <hr>
        <table class="table table-hover" ng-show="vm.estados">
            <thead>
            <tr>
                <th>#</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Sucursal</th>
                <th>Localidad</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="estado in vm.estados">
                <td>{{ estado.estadoEncomiendaId }}</td>
                <td>{{ vm.makeReadable(estado.nombre) }}</td>
                <td>{{ estado.fecha | date: 'd/M/yy h:mm a' }}</td>
                <td>{{ estado.puntoDeVenta.nombre }}</td>
                <td>{{ estado.puntoDeVenta.localidad.nombre }}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-8 col-md-offset-2" ng-show="vm.error">
          <span class="alert alert-danger center-block text-center">{{ vm.error }}</span>
        </div>
    </div>
</div>
