<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto</title>
    <link rel="stylesheet" href='@routes.Assets.at("front/bower_components/bootstrap/dist/css/bootstrap.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("front/bower_components/flat-ui/dist/css/flat-ui.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("front/static/css/style.css")'>
</head>
<body ng-app="app">

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">icono</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
          <li><a href="#/admin/dashboard">Home</a></li>
          <li><a href="#/admin/punto_venta">Puntos de Venta</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#/login">Login</a></li>
              <li><a href="#">Registrarse</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->

    <div class="col-sm-3">
        <!-- Left column -->
        <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Herramientas</strong></a>

        <hr>

        <ul class="nav nav-stacked">
            <li class="nav-header"> <a data-toggle="collapse" data-target="#userMenu">Opciones <i class="glyphicon glyphicon-chevron-down"></i></a>
                <ul class="nav nav-stacked collapse in" id="userMenu">
                    <li class="active"> <a href="#/admin/dashboard"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-road"></i> Servicios</a></li>
                    <li><a href="#/admin/personas"><i class="glyphicon glyphicon-user"></i> Personas</a></li>
                    <li><a href="#/admin/punto_venta"><i class="glyphicon glyphicon-flag" ng-controller="PuntoVentaListController as puntoCtrl"></i> Puntos de Venta</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                </ul>
            </li>
            <li class="nav-header"> <a data-toggle="collapse" data-target="#menu2"> Ayuda <i class="glyphicon glyphicon-chevron-right"></i></a>

                <ul class="nav nav-stacked collapse" id="menu2">
                    <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> FAQs</a>
                    </li>
                    <li><a href="#"><i class="glyphicon glyphicon-book"></i> Manual de Usuario</a>
                    </li>
                </ul>
            </li>
            <li class="nav-header">
                <a data-toggle="collapse" data-target="#menu3"> Redes Sociales <i class="glyphicon glyphicon-chevron-right"></i></a>
                <ul class="nav nav-stacked collapse" id="menu3">
                    <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i> Facebook</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i> Twitter</a></li>
                </ul>
            </li>
        </ul>

        <hr>
    </div>

    <div ng-view></div>

    <script src='@routes.Assets.at("front/bower_components/jquery/dist/jquery.js")'></script>
    <script src='@routes.Assets.at("front/bower_components/flat-ui/dist/js/flat-ui.js")'></script>
    <!-- Angular -->
    <script src='@routes.Assets.at("front/bower_components/angular/angular.js")'></script>
    <script src='@routes.Assets.at("front/bower_components/angular-route/angular-route.js")'></script>
    <script src='@routes.Assets.at("front/bower_components/angular-resource/angular-resource.js")'></script>

    <!-- App -->
    <script src='@routes.Assets.at("front/app/app.module.js")'></script>
    <script src='@routes.Assets.at("front/app/services/data.service.js")'></script>

    <!-- Punto de venta -->
    <script src='@routes.Assets.at("front/app/punto_venta/punto_venta.module.js")'></script>
    <script src='@routes.Assets.at("front/app/punto_venta/punto_venta.js")'></script>

    <!-- Clientes -->
    <script src='@routes.Assets.at("front/app/clientes/clientes.module.js")'></script>
    <script src='@routes.Assets.at("front/app/clientes/clientes.js")'></script>

    <!-- Empleados -->
    <script src='@routes.Assets.at("front/app/empleados/empleados.module.js")'></script>
    <script src='@routes.Assets.at("front/app/empleados/empleados.js")'></script>

</body>
</html>
